<div style="border: 1pt solid;">
	<div class="tab">
		<button class="tablinks" data-ng-click="tabName='tab1'">Service Providers</button>
		<button class="tablinks" data-ng-click="tabName='tab2'">Customer Feedback</button>
		<button class="tablinks" data-ng-click="tabName='tab3'">Customer Search Requests</button>

	</div>
	<div>
		<div data-ng-switch="tabName">
			<div data-ng-switch-when="tab1">
				<ng-include src="'html/providersView.html'"></ng-include>
			</div>
			<div data-ng-switch-when="tab2">
				<ng-include src="'html/feedbackView.html'"></ng-include>
			</div>
			<div data-ng-switch-when="tab3">
				<ng-include src="'html/searchRequests.html'"></ng-include>
			</div>
		</div>
	</div>
</div>
